<div class="card">
  <div class="card-header">
    <h3>Regions</h3>
    <button type="button" class="btn btn-primary" (click)="add()">Add region</button>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="text-center" scope="col">Title</th>
        <th class="text-center" scope="col">Area</th>
        <th class="text-center" scope="col">Population</th>
        <th class="text-center" scope="col">Regions</th>
        <th class="text-center" scope="col">Subdivisions</th>
        <th class="text-center" scope="col">Settlements</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let region of regions">
        <td>
          <div class="title">
            <span class="text-center">{{ region.localization[language].title }}</span>
            <span class="text-center">{{ region.period.toString() }}</span>
          </div>
        </td>
        <td>
          <div class="area">{{ region.area }} km<sup>2</sup></div>
        </td>
        <td>
          <div class="population">
            <span class="text-center" *ngFor="let pop of region.population">
              <b>{{ pop.year }}:</b> {{ pop.quantity }}
            </span>
          </div>
        </td>
        <td>
          <div class="list-group">
            <a class="list-group-item" [routerLink]="[item.id]" *ngFor="let item of region.regions">
              {{ item.localization[language].title }}<br/>{{ item.period.toString() }}
            </a>
          </div>
        </td>
        <td>
          <div class="list-group">
            <a class="list-group-item" [routerLink]="[item.id]" *ngFor="let item of region.subdivisions">
              {{ item.localization[language].title }}<br/>{{ item.period.toString() }}
            </a>
          </div>
        </td>
        <td>
          <div class="list-group">
            <a class="list-group-item" [routerLink]="['/admin/settlements/' + item.id]" *ngFor="let item of region.settlements">
              {{ item.localization[language].title }}<br/>{{ item.period.toString() }}
            </a>
          </div>
        </td>
        <td>
          <div class="list-group">
            <button class="list-group-item" (click)="edit(region.id)">Edit</button>
            <button class="list-group-item" (click)="delete(region.id)">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
