<div class="regions-wrapper">
  <div class="card">
    <img src="./assets/regions/croatia.png" class="card-img-top" alt="Historical regions">
    <div class="card-body">
      <h5 class="card-title">Historical regions</h5>
      <p class="card-text">Geographic areas which at some point in time had a cultural, ethnic, linguistic or political basis, regardless of present-day borders</p>
      <a class="btn btn-primary" [routerLink]="['historical']">Go</a>
    </div>
  </div>
  <div class="card">
    <img src="./assets/regions/croatia.png" class="card-img-top" alt="Administrative regions">
    <div class="card-body">
      <h5 class="card-title">Administrative regions (current)</h5>
      <p class="card-text">A portion of a country or other region delineated for the purpose of administration</p>
      <a class="btn btn-primary" [routerLink]="['administrative']">Go</a>
    </div>
  </div>
  <div class="card">
    <img src="./assets/regions/croatia.png" class="card-img-top" alt="Administrative regions">
    <div class="card-body">
      <h5 class="card-title">Administrative regions (former)</h5>
      <p class="card-text">A portion of a country or other region delineated for the purpose of administration</p>
      <a class="btn btn-primary" [routerLink]="['administrative', 'former']">Go</a>
    </div>
  </div>
</div>
