/* You can add global styles to this file, and also import other style files */

body {
  background: url('./assets/bg.jpeg') center no-repeat;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
}
